<div class="site-heading">
    <h1>@Context.String(BlogKeys.Description)</h1>
    <hr class="small">
    <div class="subheading" style="text-align: left;">
        <p>
            Welcome to my personal home on the web. I am a .NET Software Developer currently working in the DFW area. When I'm not writing code, I like to spend time with 
            my family. I've been blessed with a beautiful wife and two kids. In my spare time I like to read books, listen to rock music, play video games, write on my 
            journal and well... write code.
        </p>
        <p>
            You must have stumbled upon this website for a reason. If wanted to get in touch with me, you can do so <a href="/contact">here</a>. 
            If you were looking for one of my websites, I've listed them below. 
        </p>
        <ul>
            <li><a href="https://ateas.dinobansigan.com">Above the Earth and Seas</a> - a photo-blog focused on photos of the sky.</li>
            <li><a href="https://devblog.dinobansigan.com/">Attach to Process</a> - a blog where I share my thoughts and notes on software development.</li>
            <li><a href="https://journal.dinobansigan.com/">Dino's Journal</a> - online journal where I talk about other topics not entirely related to software development.</li>
            <li><a href="https://publish.obsidian.md/dinobansigan/Start+Here">Dino's Notes</a> - my attempt at a digital garden/personal knowledge-base.</li>
            <li><a href="https://nowlisteningto.com">Now listening to...</a> - a music blog where I share songs that I'm listening to at the moment.</li>
        </ul>
        <div style="text-align: center; margin-top: -1em;">
            <br />
            <p>
                Thank you for visiting and I hope you have a wonderful day.
            </p>
        </div>
    </div>
</div>